<nav>
<a href="https://webpages.charlotte.edu/jbedell">Webspace</a> |
<a href="https://github.com/outsidecoat">GitHub</a> |
<a href="https://outsidecoat.github.io">GitHub.io</a> |
<a href="https://www.freecodecamp.org/OutsideCoat">FreeCodeCamp</a> |
<a href="https://www.codecademy.com/profiles/OutsideCoat">Codecademy</a> |
<a href="https://www.linkedin.com/in/jamison-bedell/">LinkedIn</a> |
<a href="fccfsjs_outline.html">FCC JavaScript Outline</a> |
</nav>
    <p>Designed by Jamison Design Co - <a href="jamisonbedelldesign.com/index.html">Jamison Design Co</a></p>