<h1>ITIS3135 | Jamison Bedell | Jolly Bear</h1>
    <nav>
      <a href="index.html">Home</a> |
      <a href="introduction.html">Introduction</a> |
      <a href="intro_form.html">Introduction Form</a> |
      <a href="project_overview.html">Project Overview</a> |
      <a href="contract.html">Contract</a> |
      <a href="jollybear.com/index.html">Jolly Bear Home</a> |
      <a href="jollybear.com/about.html">Jolly Bear About</a> |
      <a href="fccfsjs_outline.html">FCC JavaScript Outline</a> 
    </nav>

  <nav>
    <a href="AWFULWEBSITE/INNE()()ndex.htm">Terrible Website</a> |
    <a href="hobby/index.html">Hobby</a> |
    <a href="https://outsidecoat.github.io/itis3135-react/">React</a> 
  </nav>

    <p class="tagline"><em>Guiding policy with a gentle roar. test</em></p>
